name: Java CI with Maven - Test and package

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout du code
      uses: actions/checkout@v4
      
    - name: Configuration de Java
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'

    #exrercice 4 --
    #- name: Cache Maven packages
     # uses: actions/cache@v4
     # with:
      #  path: ~/.m2/repository
       # key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
       # restore-keys: |
        #  ${{ runner.os }}-maven-
    #fin exercice 4 --
        
    - name: Construction et tests avec Maven
      run: mvn -B verify
